<br>
<div class="container p5 my-5 border">
  <div class="row">
<tr>
  <td><button [routerLink]="['afficher'] " class="btn btn-dark x">Commande Client</button></td>
  <td><button [routerLink]="['pay'] " class="btn btn-dark x">Peiement Client</button></td>
  <td><button [routerLink]="['ajouterProduit'] " class="btn btn-dark x">ajouterProduit</button></td>
  <td><button [routerLink]="['contactclient'] " class="btn btn-dark x">contact Client</button></td>
    </tr>
    <router-outlet></router-outlet>
  </div></div>