
<br>

<button class="btn btn-dark x" data-bs-toggle="modal" data-bs-target="#exampleModal1" >Ajouter</button>


<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="title" class="form-label">Nom_Produit</label>
                <input type="text"class="form-control" id="title" name="title" [(ngModel)]="userData.title">
                
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Description</label>
                    <input type="text"class="form-control" id="description" name="description" [(ngModel)]="userData.description">
                    
                    </div>
                    <div class="mb-3">
                      <label for="title" class="form-label">Image Produit</label>
                      <input type="file"class="form-control" id="image" name="image" (change)="onFileSelected($event)" [(ngModel)]="userData.image">
                      
                      </div>
                <div class="mb-3">
                <label for="title" class="form-label">Prix</label>
                <input type="text"class="form-control" id="title" name="title" [(ngModel)]="userData.class">
                
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">quantite</label>
                    <input type="text"class="form-control" id="title" name="title" [(ngModel)]="userData.quantite">
                                    
                    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark" (click)="ajouter()">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
<div class="card-body table-responsive p-0">




    <table class="table table-hover text-nowrap">
      
        <thead>
            <tr>
                
                <th>NameProduit</th>
                <th>Description</th>
                <th>Image Produit</th>
                <th>Prix</th>
                <th>quantite</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of user; let row">
               
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td><img  src="{{item.image}}" alt="Selected Image" style="max-width: 100%; margin-top: 10px;"></td>
                <td>{{item.class}}</td>
                <td>{{item.quantite}}</td>
                <td><button class="btn  btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="modifierid(item)">modifier</button> 
                  <button class="btn btn-danger" (click)="deleted(row.id)">supprimer</button>
                    
            </tr><!--(click)="upadate(item.id)"-->
        </tbody>
    </table>

<!--<div class="mb-3">
<label for="title" class="form-label">title</label>
<input type="text"class="form-control" id="title" name="title" [(ngModel)]="userData.title">

</div>
<div class="mb-3">
<label for="title" class="form-label">class</label>
<input type="text"class="form-control" id="title" name="title" [(ngModel)]="userData.class">

</div>-->
<br>



<div class="modal fade"  #content id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="title" class="form-label">Nom_Produit</label>
            <input type="text"class="form-control" id="title" name="title" [(ngModel)]="modifuser.title">
        
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Description</label>
            <input type="text"class="form-control" id="title" name="description" [(ngModel)]="modifuser.description">
                
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Image Produit</label>
          <input type="file" class="form-control" id="image" name="image" (change)="onFileSelectedForUpdate($event)" [(ngModel)]="modifuser.image">
              
      </div>
        <div class="mb-3">
            <label for="title" class="form-label">Prix</label>
            <input type="text"class="form-control" id="title" name="title" [(ngModel)]="modifuser.class">
        
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">quantite</label>
            <input type="text"class="form-control" id="title" name="quantite" [(ngModel)]="modifuser.quantite">
                
        </div>
    </div>
    <div class="modal-footer" >
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="modif(modifuser.id)" >modifier</button>
    </div>
  </div>
</div>
</div>
<br>
